<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        
        nav {
            width: 100%;
            background-color: rgba(37, 28, 137, 1);
            margin-bottom: 20px;
            height: 8vh;
            line-height: 8vh;
            display: flex;
            justify-content: space-around;
        }

        nav ul {
            list-style: none;
            display: flex;
        }
       
        nav ul li {
            display: flex;
            margin: 0 20px;
            font-size: 22px;
        }
        
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
       
        nav ul li a:hover {
            color: #bbb;
            text-decoration: none;
        }

        .wrapper {
            background: url('https://images.unsplash.com/photo-1607012604314-89e0ae069ce1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 80vw;
            height: 80vh;
            margin: auto;
            border-radius: 15px;
        }

        footer {
            height: 8vh;
            line-height: 8vh;
            background-color: rgba(37, 28, 137, 1);
            margin-top: 17px;
            color: #fff;
            text-align: center;
            font-size: 16px;
        }

        .tittle {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, 0);
            color: #fff;
            text-align: center;
        }

        button {
            padding: 5px 15px;
            background-color: #fff;
            border-radius: 5px;
            color: rgba(37, 28, 137, 1);
            border: 2px solid #fff;
        }

        button:hover {
            background-color: #bbb;
            border: 2px solid #bbb;
            cursor: pointer;
        }

        @media only screen and (max-width: 600px) {
        .wrapper {
            width: 90vw;
        }
    }

    </style>
</head>
<body>
    <nav>
        <form action="/logout?_method=DELETE" method="POST" type="submit">
            <button>Logout</button>
        </form>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div class="wrapper">
        <div class="tittle">
            <h1>Hello</h1>
            <p>Welcome to my NodeJs App</p>
        </div>
    </div>
    <footer>
        Dawid Femin Ⓒ 2022. All rights reserved.
    </footer>
</body>
</html>